*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: green
  ;
}

a{
  text-decoration: none;
}

/* code for navbar */
#navbar{
 background:#fff; 
 color:orange;
 top:0;
 position:sticky;
 display:flex;
 justify-content: space-between;
 z-index: 1;
 padding: 1rem;
}

ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a{
  color: red;
  padding: 0.75rem;
  margin: 0 0.2rem;
}
#navbar ul li a:hover{
  background:green(15, 152, 15) ; 
border-radius: 5px;
}


/* css code for header showcase */
#showcase{
  background: url("../img/sef.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}
#showcase .show-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
  

/* overlay */
position: absolute;
  top: 60px;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(237, 246, 249, 0.5);

}

.l-leading{
  font-size: zrem;
  margin-bottom: 0.75rem;
  line-height:1.1;

  }
.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn{
  text-align: center;
  margin:0 auto;
  display: inline-block;
  color:red;
  background: blue;
  padding: 0.5rem 2rem;
  width: 160px;
  border: none;
  border-radius: 5px;
}

.btn:hover{
  background: blue;
}

/*section what we do*/
.items{
  display: flex;
  padding: 1rem;
}

#what .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}
#what .items .item i{
  background: orange;
  color: black;
  padding: 1rem;
  border-radius: 50%;
}


/*section for who we are*/
#who{
  display:flex;
}
#who div{
  flex: 1;
}

#who .who-img{
  background: url("../img/img1.jpg.jpg") no-repeat center center/cover;
}


.bg-light{
  background: #93cb52;
  color: blue;
}



.bg-dark{
color: #f4f4ff; ;
background: #333;
}

.p-1{
  padding: 1rem;
} 

.p-2{
  padding: 2rem;
}

.p-3{
  padding: 3rem;
}

.list{
  margin: 0.5rem 0;
  list-style: none;
}

 .list li{
  padding:0.50rem 0;
  border-bottom: #444;
}


/*client*/
#clients{
  display: flex;
  margin: auto 0;
  justify-content: center;
  align-items: center;
}

#clients .items img{
  display: block;
  margin:auto 15px;
  width: 90px;
height: 90px;
}